[Unit]
Description=StreetMerchant Service
After=network-online.target

[Service]
WorkingDirectory=/home/pi/streetmerchant
ExecStart=/home/pi/.nvm/versions/node/v15.3.0/bin/npm run start:production
Restart=on-failure
User=pi
Environment=PORT=9099

[Install]
WantedBy=multi-user.target